<div class="preloader">
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>


<div class="main">
  <section id= "carousel" class="page_container carousel slide" data-ride="carousel"data-interval="3000" data-wrap="false" > 
   <!-- Indicators -->
   <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
    <li data-target="#carousel" data-slide-to="3"></li>
    <li data-target="#carousel" data-slide-to="4"></li>
  </ol>

  <div class="carousel-inner" role="listbox">
   <div class="item active bg-cover1">
    <div class="carousel-caption">
      <h1>小盆友，你好哦！</h1>
    </div>
    <div class="overlay-bg"></div>
  </div>
  <div class="item bg-cover2">
    <div class="carousel-caption">
      <h1>跟我来～</h1>
    </div>
    <div class="overlay-bg"></div>
  </div>
  <div class="item bg-cover3">
    <div class="carousel-caption">
      <h1>这里是爬行动物之家。</h1>
    </div>
    <div class="overlay-bg"></div>
  </div>
  <div class="item bg-cover4">
    <div class="carousel-caption">
      <h1>我是何远舵。</h1>
    </div>
    <div class="overlay-bg"></div>
  </div>
  <div class="item bg-cover5">
    <div class="carousel-caption">
      <h1>还没看够？往下滚啦～吱吱！</h1>
    </div>
    <div class="overlay-bg"></div>
  </div>
</div>
</section>
<section>
  <div class="page_container">
    <h1>突然不知道该在这里放些什么</h1>
    <h1>我还是默默记下，周二的呷哺学生证79折</h1>
    <h1>博士刚开头，还要努力啊～</h1>
    <h1>这页的排版下次再弄吧</h1>
    <h1>下次顺便加个关注功能，届时就可以自动推送网站的更新啦～啦啦啦</h1>
    <div>
    </section>
    <!-- <section>
      <div class="page_container">
        <h1>下一个版本</h1>
        <h2>Create an Apple-like one page scroller website (iPhone 5S website) with One Page Scroll plugin</h2>
        <div>
        </section>
 -->
            
              </div>

