<div class="preloader">
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>



<div id="intro" class="owl-carousel owl-theme-featured"> 
  <div class="item background-cover background-cover1">
    <div class="container">
      <div class="row">
        <div class="carousel-caption-center">
          <h1>是你啊～</h1>
          <p>It's You.</p>
        </div>
      </div>
    </div>
    <div class="overlay-bg"></div>  
  </div>
  <div class="item background-cover background-cover2">
     <div class="container">
      <div class="row">
        <div class="carousel-caption-center">
          <h1>请进。</h1>
          <p>Please Come In.</p>
        </div>
      </div>
    </div>
    <div class="overlay-bg"></div> 
  </div>
  <div class="item background-cover background-cover3">
     <div class="container">
      <div class="row">
        <div class="carousel-caption-center">
          <h1>这里是我家。</h1>
          <p>It's My Home.</p>
        </div>
      </div>
    </div>
    <div class="overlay-bg"></div> 
  </div>
  <div class="item background-cover background-cover4">
     <div class="container">
      <div class="row">
        <div class="carousel-caption-center">
          <h1>爬行动物之家。</h1>
          <p>Home for Reptiles.</p>
        </div>
      </div>
    </div>
    <div class="overlay-bg"></div>  
  </div>
  <div class="item background-cover background-cover5">
     <div class="container">
      <div class="row">
        <div class="carousel-caption-center">
          <h1>我是何远舵。</h1>
          <p>I am Yuan<em>duo</em> He.</p>
        </div>
      </div>
    </div>
    <div class="overlay-bg"></div> 
  </div>
</div>

