// preloader .spinner bounce
@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0);
        transform: scale(0)
    }

    40% {
        transform: scale(1);
        transform: scale(1)
    }
}

// #intro

#intro {
  .item {
    height: 100%;
  }

  .container .row {
    height: 100%;
    position: relative
  }

  .background-cover {
    background: image-url("main.png");
  }

  .carousel-caption-center {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    max-width: 80%;
    max-height: 25%;
    z-index: 10;
    margin: auto;
    text-align: center

    h1 {
      font-size: 3em;
      font-weight: 800;
      margin: 0 0 0.5em
    }

    h2 {
      font-weight: 300;
      color: rgba(255, 255, 255, 0.9)
    }
  }
}











